<div id="awesome">
  <p>A <%= link_to "srslyawesome", "http://railsrumble.com/teams/srslyawesome" %> production created in 48 hours for the 2010 <%= link_to "Rails Rumble", "http://railsrumble.com" %></p>
</div>
