body {
  font-family: arial, helvetica, sans-serif;
  font-size: 18px;
  height: 100%; width: 100%;
  position: absolute;
  color: #555;
  background-color: #f1f5ff;
}


body, h1, h2, h3, h4, div, p {
  margin: 0; padding: 0;
}
html{
    width:100%;
}

a {
    color: #4b65a6;
}

a.light {
    color: #F1F5FF;
    font-weight: bold;
}

h1 {
    letter-spacing: -2px;
    font-size: 300%;
    color: #fff;
}
div#container{
    margin: 0 auto;
    width: 500px;
}
div#content{
    margin-top: 50px;
}
div#header{
    background-color: #4b65a6;
    margin: 30px 0;
    padding: 20px;
    color: #efefef;
}

form, .linky{
    padding: 20px;
    background-color: #e6edff;
}

p.quiet{
    margin-top: 10px;
    font-size: 12px;
    color: #777;
}
p.quiet a.small{
    font-size: 12px;
}
div.linky a{
    font-size: 2em;
    color: #4B65A6
}

/* footer */

div#awesome{
    margin-top: 30px;
    padding: 20px;
    font-size: 0.7em;
    background-color: #b1b5bf;
    color: #efefef;
}

div#awesome a{
    text-decoration: none;
}
div#awesome a:hover{

    text-decoration: underline;
}

/* pdf viewer */
div#view_container{
    margin: 0 auto;
    width: 602px;
}

div#view_pdf{
    border-right: 2px solid #888;
    border-bottom: 2px solid #888;
    width: 600px;
    background-color: #fff;
}
div#controls-left{

}
div#controls-right{
    float: right;
}
div.controls{
    margin-top: 30px;
    padding: 20px;
    background-color: #E6EDFF;
}