<div id="content">
  <div id="about">
    <h1>TinyDoc</h1>
    <p>PDF in. Browseable web page out.</p>
  </div>
  <%= form_for @document, :html => { :multipart => true } do |f| %>
  <%= f.file_field :pdf %> 
  <%= f.submit("Tinyerize") %>
<% end %>
</div>
