
<div id="content">
  <div id="header">
    <h2>Cool.  Give this out and people can view your PDF.</h2>
  </div>
  <div class="linky">
    <p><%= link_to "http://#{request.domain}/#{@document.key}", "http://#{request.domain}/#{@document.key}" %></p>
  <p class="quiet">You can always get the  <%= link_to 'original', download_path(@document.key), :class => "small" %> too.</p>
  </div>

</div>
