<div id="content">
  <div id="header">
    <p>Get your own <%= link_to "TinyDoc", root_url, :class => "light" %></p>
  </div>
  <div id="view_pdf">
    image goes here yo
  </div>

  <div id="controls-right" class="controls">
    <%= link_to "Next Page", "#" %>    
  </div>
  <div id="controls-left" class="controls">
    <%= link_to "Previous Page", "#" %>
  </div>

</div>
