<!DOCTYPE html>
<html>
  <head>
    <title>TinyDoc - Easily Browse and Share PDFs</title>
    <%= stylesheet_link_tag :all %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="container">
      <%= yield %>
      <%= render :partial => "elements/footer" %>
    </div>
  </body>
  <script type="text/javascript">
    var rumbleUrl = 'http://railsrumble.com';
  </script>
  <script type="text/javascript" src="http://blog.railsrumble.com/javascripts/rumble-r10-sash.js"></script>

</html>
