<!DOCTYPE html>
<html>
  <head>
    <title>TinyDoc</title>
    <%= render :partial => "elements/head" %>
  </head>
  <body>
    <div id="view_container">
      <%= yield %>
      <%= render :partial => "elements/footer" %>
    </div>
  </body>
</html>
